absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
Cython==0.28.5
DAWG-Python==0.7.2
decorator==4.4.0
deeppavlov==0.1.6
defusedxml==0.5.0
docopt==0.6.2
entrypoints==0.3
fasttext==0.8.22
flake8==3.7.7
flasgger==0.9.1
Flask==1.0.2
Flask-Cors==3.0.6
fuzzywuzzy==0.16.0
gast==0.2.2
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.8.0
idna==2.8
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mosestokenizer==1.0.0
nbconvert==5.4.1
nbformat==4.4.0
nltk==3.4
notebook==5.7.6
numpy==1.14.5
openfile==0.0.7
overrides==1.9
pandas==0.23.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.0
ptyprocess==0.6.0
pybind11==2.2.3
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.3.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
pyOpenSSL==18.0.0
pyrsistent==0.14.11
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
rusenttokenize==0.0.4
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolwrapper==0.3.0
tornado==6.0.1
tqdm==4.23.4
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.1
widgetsnbextension==3.4.2
